<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Effects Editor</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="styles/spectrum.css" rel="stylesheet" type="text/css" />
    <link href="styles/normalize.css" rel="stylesheet" type="text/css" />
    <link href="styles/skeleton.css" rel="stylesheet" type="text/css" />
    <link href="styles/main.css" rel="stylesheet" type="text/css" />
    <script src="scripts/libs/jquery-2.1.1.min.js"></script>
    <script src="scripts/libs/bootstrap.min.js"></script>
    <script src="scripts/libs/handlebars.min.js"></script>
    <script src="scripts/libs/ember.min.js"></script>
    <script src="scripts/libs/ember-data.min.js"></script>
    <script src="scripts/libs/ember-template-compiler.js"></script>
    <script src="scripts/libs/spectrum.js"></script>
    <script src="scripts/libs/d3.v4.min.js"></script>
    <script src="scripts/root/util.js"></script>
    <script src="scripts/root/main.js"></script>
    <script src="scripts/root/effect-kinds.js"></script>
    <script src="scripts/root/routes.js"></script>

    <script src="scripts/effect-property.js"></script>
    <script src="scripts/string-property.js"></script>
    <script src="scripts/origin-property.js"></script>
    <script src="scripts/complex-property.js"></script>
    <script type="text/x-handlebars" data-template-name="index">
        <div class="tools">
            <!-- <button {{ action "preview" }}>Preview</button> -->
            <button id="saveButton" class="button-primary" {{ action "save" }}>Save</button>
            Validity {{ model.effectModel.isValid }}
        </div>
         {{ component model.effectModel.componentName model=model.effectModel }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/warning-icon">
        <!-- TODO put message into a tooltip instead -->
        <span
              class=""
              style="visibility: {{ if message 'visible' 'hidden' }}; "
              title="{{ message }}">⚠️</span>
        {{ message }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/string-property">
        <span class="inline-property-label">{{ model.name }}</span>
        {{ input class="sh-input" type='text' value=model.value }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/material-property">
        <span class="inline-property-label">{{ model.name }}</span>
        {{ input class="sh-material-input" type='text' value=model.value }}
        <span class="material-warning" >(Materials only update on reload.)</span>
    </script>
    <script type="text/x-handlebars" data-template-name="components/boolean-property">
        <label>
            <span class="inline-property-label checkbox-property-label">{{ model.name }}</span>
            {{ input class="sh-input sh-checkbox-input" type='checkbox' checked=model.value }}
        </label>
    </script>
    <script type="text/x-handlebars" data-template-name="components/int-property">
        <span class="inline-property-label">{{ model.name }}</span>
        {{ input class="sh-input" type='text' value=model.value }}
        <span class="duration-warning" >(Duration is in Milliseconds.)</span>
        {{ warning-icon message=model.invalidValueMessage }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/complex-property">
        {{#block-property model=model }}
            {{#each model.children as |property| }}
                {{ component property.componentName model=property }}
            {{/each }}
        {{/block-property }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/encompassing-group-property">
        <h3 class="encompassing-group-property-header">{{ model.name }}</h3>
        {{#each model.children as |property| }}
            {{ component property.componentName model=property }}
        {{/each }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/sub-group-property">
            <div class="sub-group-property-header">
                {{ model.name }}
                {{#if model.optional }}
                    <button {{ action 'toggleMissing' }} class="sub-group-property-expand-button">
                        {{#if model.isMissing }}
                        ➕
                        {{ else }}
                        ❌
                        {{/if }}
                    </button>
                {{/if }}
            </div>
        {{#if model.isMissing }}
        {{ else }}
            {{#each model.children as |property| }}
                {{ component property.componentName model=property }}
            {{/each }}
        {{/if }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/level3-parameter-property">
        <span class="level3-parameter-property-header-text">
            {{ model.name }}
        </span>
        {{#if model.isMissing }}
        {{ else }}
            <select onchange={{ action (mut model.kind) value="target.value" }} class="level3-parameter-property-select">
                {{#each model.kindOptionNames as |kindChoice| }}
                <option value={{ kindChoice }} selected={{ eq model.kind kindChoice }}>
                    {{ kindChoice }}
                </option>
                {{/each }}
            </select>
        {{/if }}
        {{#if model.optional }}
            <button class="level3-parameter-property-expand-button" {{ action 'toggleMissing' }}>
                {{#if model.isMissing }}
                ➕
                {{ else }}
                ❌
                {{/if }}
            </button>
        {{/if }}
        <br />
        {{#if model.isMissing }}
        {{ else }}
        {{ component model.parameter.componentName model=model.parameter }}
        {{/if }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/level2-parameter-property">
        <span class="level3-parameter-property-header-text">
            {{ model.name }}
        </span>
        {{#if model.isMissing }}
        {{ else }}
            <select onchange={{ action (mut model.kind) value="target.value" }} class="level3-parameter-property-select">
                {{#each model.kindOptionNames as |kindChoice| }}
                <option value={{ kindChoice }}
                        selected={{ eq model.kind kindChoice }}>
                    {{ kindChoice }}
                </option>
                {{/each }}
            </select>
        {{/if }}
        {{#if model.optional }}
            <button class="level3-parameter-property-expand-button" {{ action 'toggleMissing' }}>
                {{#if model.isMissing }}
                    ➕
                {{ else }}
                    ❌
                {{/if }}
            </button>
        {{/if }}
        <br />
        {{#if model.isMissing }}
        {{ else }}
        {{ component model.parameter.componentName model=model.parameter }}
        {{/if }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/origin-parameter-property">
        <span class="origin-parameter-property-header-text">
            {{ model.name }}
        </span>
        {{#if model.isMissing }}
        {{ else }}
            <select onchange={{ action (mut model.surface) value="target.value" }} class="origin-parameter-property-select">
                {{#each model.surfaceOptionNames as |surfaceChoice| }}
                <option value={{ surfaceChoice }}
                        selected={{ eq model.surface surfaceChoice }}>
                    {{ surfaceChoice }}
                </option>
                {{/each }}
            </select>
        {{/if }}
        {{#if model.optional }}
            <button class="origin-parameter-property-expand-button" {{ action 'toggleMissing' }}>
                {{#if model.isMissing }}
                    ➕
                {{ else }}
                    ❌
                {{/if }}
            </button>
        {{/if }}
        <br />
        {{#if model.isMissing }}
        {{ else }}
        {{ component model.parameter.componentName model=model.parameter }}
        {{/if }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/burst-parameter-property">
        {{#if model.isMissing }}
        {{ else }}
        <span class="burst-parameter-property-header-text">{{ model.name }}</span>
        <table class="curve-rgbTable">
            <tr>
                <td><div class="curve-warning">{{ warning-icon message=model.errorMap.[-1] }}</div></td>
                <td></td>
                <td></td>
                <td>time</td>
                <td>burst</td>
            </tr>
            {{#each model.points as |point index| }}
                <tr>
                    <td><div class="curve-warning">{{ warning-icon message=(get model.errorMap (tostr index)) }}</div></td>
                    <td><button class="curve-button" {{ action 'addAbove' index }}><img src="styles/add_above.png" /></button></td>
                    <td><button class="curve-button" {{ action 'delete' index }}>✖️</button></td>
                    <td>{{ input class="curve-input" type="text" value=point.time }}</td>
                    <td>{{ input class="curve-input" type="text" value=point.burst }}</td>
                </tr>
            {{/each }}
            <tr>
                <td></td>
                <td><button class="curve-button" {{ action 'add' }}><img src="styles/add_above.png" /></button></td>
            </tr>
        </table>
        {{/if }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/burst-scalar-parameter">
        {{ burst-parameter-property model=model.curve }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/block-property">
        {{#if model.isRoot }}
        {{ else }}
            {{#if model.optional }}
                <button {{ action 'toggleMissing' }}>{{ if model.isMissing 'Add' 'Del' }}</button>
            {{/if }}
            {{ model.name }}
            <br />
        {{/if }}
        {{#if model.isMissing }}
        {{ else }}
            <div style="{{ if model.isRoot '' 'margin-left: 55px' }}">
                {{ yield }}
            </div>
        {{/if }}
    </script>
    <script type="text/x-handlebars" data-template-name="application">
        <div class="app">
            {{outlet}}
        </div>
    </script>
    <script type="text/x-handlebars" data-template-name="components/dummy-parameter">
        hello world!
    </script>
    <script type="text/x-handlebars" data-template-name="components/constant-scalar-parameter">
        <span class="parameter-property-label">value</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.value }}
        {{ warning-icon message=model.invalidValueMessage }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/constant-rgba-parameter">
        {{ rgba-x model=model.rgba name=model.id}}
    </script>
    <script type="text/x-handlebars" data-template-name="components/random-between-rgba-parameter">
        <div class="random-between-type-header"><span class="parameter-property-label">Color 1</span>
            {{ rgba-x model=model.rgba1 name=model.id1}}
        </div>
        <div class="random-between-type-header"><span class="parameter-property-label">Color 2</span>
            {{ rgba-x model=model.rgba2 name=model.id2}}
        </div>
    </script>
    <script type="text/x-handlebars" data-template-name="components/random-between-scalar-parameter">
        <span class="parameter-property-label">min</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.minValue }}
        {{ warning-icon message=model.invalidMinValueMessage }}
        <br />
        <span class="parameter-property-label">max</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.maxValue }}
        {{ warning-icon message=model.invalidMaxValueMessage }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/curve-scalar-parameter">
        {{ curve-x curve1=model.curve }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/random-between-curves-scalar-parameter">
      {{ curve-x curve1=model.curve1 curve2=model.curve2 }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/curve-x">
        <table class="curve-table">
            <tr>
                <td>
                   <div class="curve-warning">{{ warning-icon message=curve1.errorMap.[-1] }}</div>
                   <div class="curve-warning">{{ warning-icon message=curve2.errorMap.[-1] }}</div>
                </td>
                <td colspan="4"><svg width="400px" height="100px" /></td>
            </tr>
            <tr>
                <td></td>
                <td><button class="zoom">Reset view</button></td>
            </tr>
        </table>
    </script>
    <script type="text/x-handlebars" data-template-name="components/curve-rgb-parameter">
        {{ curve-rgb model=model.curveRGB }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/random-between-curves-rgb-parameter">
        <div class="random-between-type-header"><span class="parameter-property-label">Curve 1</span>
        {{ curve-rgb model=model.curveRGB1 }}</div>
        <div class="random-between-type-header"><span class="parameter-property-label">Curve 2</span>
        {{ curve-rgb model=model.curveRGB2 }}</div>
    </script>
    <script type="text/x-handlebars" data-template-name="components/curve-rgb">
        <table class="curve-rgbTable">
            <tr>
                <td><div class="curve-warning">{{ warning-icon message=model.errorMap.[-1] }}</div></td>
                <td></td>
                <td></td>
                <td>Time</td>
                <td>R</td>
                <td>G</td>
                <td>B</td>
                <td><span class="parameter-property-label-color">Picker</span></td>
            </tr>
            {{#each model.pointsRGB as |point index| }}
                <tr>
                    <td><div class="curve-warning">{{ warning-icon message=(get model.errorMap (tostr index)) }}</div></td>
                    <td><button class="curve-button" {{ action 'addAbove' index }}><img src="styles/add_above.png" /></button></td>
                    <td><button class="curve-button" {{ action 'delete' index }}>✖️</button></td>
                    <td>{{ input class="curve-input" type="text" value=point.time }}</td>
                    <td>{{ input class="curve-input" type="text" value=point.rValue }}</td>
                    <td>{{ input class="curve-input" type="text" value=point.gValue }}</td>
                    <td>{{ input class="curve-input" type="text" value=point.bValue }}</td>
                    <td><div id={{ point.id }} class="color-picker-div"><input type="text" class="color-picker" /></div></td>
                </tr>
            {{/each }}
            <tr>
                <td></td>
                <td><button class="curve-button" {{ action 'add' }}><img src="styles/add_above.png" /></button></td>
            </tr>
        </table>
    </script>
    <script type="text/x-handlebars" data-template-name="components/rgba-x">
        <table class="curve-rgbTable">
            <tr>
                <td>
                    <div class="curve-warning">
                        {{ warning-icon message=model.invalidRValueMessage }}
                        {{ warning-icon message=model.invalidGValueMessage }}
                        {{ warning-icon message=model.invalidBValueMessage }}
                        {{#if model.hasA }}
                            {{ warning-icon message=model.invalidAValueMessage }}
                        {{/if }}
                    </div>
                </td>
                <td><span class="parameter-property-label-color">R</span></td>
                <td><span class="parameter-property-label-color">G</span></td>
                <td><span class="parameter-property-label-color">B</span></td>
                <td>{{#if model.hasA }}
                        <span class="parameter-property-label-color">A</span>
                    {{/if }}
                </td>
                <td><span class="parameter-property-label-color">Picker</span></td>
            </tr>
            <tr>
                <td>
                </td>
                <td>{{ input class="sh-input sh-numeric-input" type="text" value=model.rValue }}</td>
                <td>{{ input class="sh-input sh-numeric-input" type="text" value=model.gValue }}</td>
                <td>{{ input class="sh-input sh-numeric-input" type="text" value=model.bValue }}</td>
                <td>
                    {{#if model.hasA }}
                        {{ input class="sh-input sh-numeric-input" type="text" value=model.aValue }}
                    {{/if }}
                </td>
                <td><div id={{ name }} class="color-picker-div"><input type="text" class="color-picker" /></div></td>
            </tr>
        </table>
    </script>

    <script type="text/x-handlebars" data-template-name="components/parameter-property">
        {{#block-property model=model }}
            <select onchange={{ action (mut model.kind) value="target.value" }}>
                {{#each model.kindOptionNames as |kindChoice| }}
                <option value={{ kindChoice }}
                        selected={{ eq model.kind kindChoice }}>
                    {{ kindChoice }}
                </option>
                {{/each }}
            </select>
            {{ component model.parameter.componentName model=model.parameter }}
        {{/block-property }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/point-parameter-property">
    </script>
    <script type="text/x-handlebars" data-template-name="components/rectangle-scalar-parameter">
        <span class="parameter-property-label">width</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.width }}
        <span class="parameter-property-label">length</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.length }}
        <br />
        <span class="parameter-property-label">innerWidth</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.innerWidth }}
        <span class="parameter-property-label">innerLength</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.innerLength }}
        {{ warning-icon message=model.invalidValueMessage }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/cuboid-scalar-parameter">
        <span class="parameter-property-label">width</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.width }}
        <span class="parameter-property-label">length</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.length }}
        <span class="parameter-property-label">depth</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.depth }}
        <br />
        <span class="parameter-property-label">innerWidth</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.innerWidth }}
        <span class="parameter-property-label">innerLength</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.innerLength }}
        <span class="parameter-property-label">innerDepth</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.innerDepth }}
        {{ warning-icon message=model.invalidValueMessage }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/sphere-scalar-parameter">
        <span class="parameter-property-label">radius</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.radius }}
        <span class="parameter-property-label">angle</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.angle }}
        {{ warning-icon message=model.invalidValueMessage }}
        <br />
        <span class="parameter-property-label">innerRadius</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.innerRadius }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/cylinder-scalar-parameter">
        <span class="parameter-property-label">height</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.height }}
        <span class="parameter-property-label">radius</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.radius }}
        <br />
        <span class="parameter-property-label">innerRadius</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.innerRadius }}
        <span class="parameter-property-label">angle</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.angle }}
        {{ warning-icon message=model.invalidValueMessage }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/cone-scalar-parameter">
        <span class="parameter-property-label">radius</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.radius }}
        <span class="parameter-property-label">angle</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.angle }}
        <br />
        <span class="parameter-property-label">innerRadius</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.innerRadius }}
        <span class="parameter-property-label">innerAngle</span>
        {{ input class="sh-input sh-numeric-input" type="text" value=model.innerAngle }}
        {{ warning-icon message=model.invalidValueMessage }}
    </script>
</head>
<body>

</body>
</html>