<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Effects Editor</title>
    <link href="styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="scripts/libs/jquery-2.1.1.min.js"></script>
    <script src="scripts/libs/bootstrap.min.js"></script>
    <script src="scripts/libs/handlebars.min.js"></script>
    <script src="scripts/libs/ember.min.js"></script>
    <script src="scripts/libs/ember-data.min.js"></script>
    <script src="scripts/libs/ember-template-compiler.js"></script>
    <script src="scripts/root/main.js"></script>
    <script src="scripts/root/routes.js"></script>

    <style>
        .inline-property-label {
            display: inline-block;
            width: 100px;
        }
    </style>

    <script src="scripts/effect-property.js"></script>
    <script src="scripts/string-property.js"></script>
    <script src="scripts/complex-property.js"></script>
    <script type="text/x-handlebars" data-template-name="index">
        Validity {{ model.effectModel.isValid }}
        {{ component model.effectModel.componentName model=model.effectModel }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/warning-icon">
        <!-- TODO make tooltip work -->
        <span style="display: inline-block; width: 18px; height: 18px; background-color: red; visibility: {{ if message 'visible' 'hidden' }}; " title="{{ message }}"></span>
    </script>
    <script type="text/x-handlebars" data-template-name="components/string-property">
        <span class="inline-property-label">{{ model.name }}</span>
        {{ input type='text' value=model.value }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/int-property">
        <span class="inline-property-label">{{ model.name }}</span>
        {{ input type='text' value=model.value }}
        {{ warning-icon message=model.invalidValueMessage }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/complex-property">
        {{#block-property model=model }}
            {{#each model.children as |property| }}
                {{ component property.componentName model=property }}
            {{/each }}
        {{/block-property }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/origin-property">
        {{#block-property model=model }}
            <table>
                <tr>
                    <td>Surface</td>
                    <td>
                        <select onchange={{ action (mut model.surface) value="target.value" }}>
                            {{#each surfaceOptions as |surfaceChoice| }}
                                <option 
                                    value={{ surfaceChoice }}
                                    selected={{ eq model.surface surfaceChoice }}>
                                    {{ surfaceChoice }}
                                </option>
                            {{/each }}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Value 1</td>
                    <td>
                        {{ input type="text" value=model.value1 }}
                        {{ warning-icon message=model.invalidValue1Message }}
                    </td>
                </tr>
                <tr>
                    <td>Value 2</td>
                    <td>
                        {{ input type="text" value=model.value2 }}
                        {{ warning-icon message=model.invalidValue2Message }}
                    </td>
                </tr>
            </table>
        {{/block-property }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/block-property">
        {{#if model.isRoot }}
        {{ else }}
        {{ model.name }}
        {{# if model.optional }}
        <button {{ action 'toggleMissing' }}>{{ if model.isMissing 'Add' 'Del' }}</button>
        {{/if }}
        <br />
        {{/if }}
        {{#if model.isMissing }}
        {{ else }}
            <div style="{{ if model.isRoot '' 'margin-left: 30px' }}">
                {{ yield }}
            </div>
        {{/if }}
    </script>
    <script type="text/x-handlebars" data-template-name="application">
        <div>
            {{outlet}}
        </div>
    </script>
    <script type="text/x-handlebars" data-template-name="components/dummy-parameter">
        hello world!
    </script>
    <script type="text/x-handlebars" data-template-name="components/constant-scalar-parameter">
        Value
        {{ input type="text" value=model.value }}
        {{ warning-icon message=model.invalidValueMessage }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/constant-rgba-parameter">
        R
        {{ input type="text" value=model.rValue }}
        {{ warning-icon message=model.invalidRValueMessage }}
        <br/>
        G
        {{ input type="text" value=model.gValue }}
        {{ warning-icon message=model.invalidGValueMessage }}
        <br />
        B
        {{ input type="text" value=model.bValue }}
        {{ warning-icon message=model.invalidBValueMessage }}
        <br />
        A
        {{ input type="text" value=model.aValue }}
        {{ warning-icon message=model.invalidAValueMessage }}
    </script>
    <script type="text/x-handlebars" data-template-name="components/random-between-scalar-parameter">
        Min
        {{ input type="text" value=model.minValue }}
        {{ warning-icon message=model.invalidMinValueMessage }}
        <br />
        Max
        {{ input type="text" value=model.maxValue }}
        {{ warning-icon message=model.invalidMaxValueMessage }}
    </script>

    <script type="text/x-handlebars" data-template-name="components/parameter-property">
        {{#block-property model=model }}
            <select onchange={{ action (mut model.kind) value="target.value" }}>
                {{#each model.kindOptionNames as |kindChoice| }}
                <option value={{ kindChoice }}
                        selected={{ eq model.kind kindChoice }}>
                    {{ kindChoice }}
                </option>
                {{/each }}
            </select>
            {{ component model.parameter.componentName model=model.parameter }}
        {{/block-property }}
    </script>
</head>
<body>

</body>
</html>