<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2623.1396" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2623.1396" targetFramework="net452" />
  <package id="CefSharp.Common" version="49.0.0" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="49.0.0" targetFramework="net452" />
  <package id="EmberJs" version="2.3.0" targetFramework="net452" />
  <package id="Handlebars.js" version="2.0.0.0" targetFramework="net452" />
  <package id="jacobslusser.ScintillaNET" version="3.5.10" targetFramework="net452" />
  <package id="jQuery" version="2.1.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NJsonSchema" version="9.4.2" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
</packages>