.inline-property-label {
    display: inline-block;
    width: 100px;
}
.warning-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: red;
}
.encompassing-group-property-header {
    border-bottom: 3px solid rgb(40, 40, 40);
    margin-bottom: 0;
    padding-left: 5px;
    background-color: lightgray;
    color: black;
    text-transform: capitalize;
}
.app {
    background-color: darkgray;
}
.color-picker-div {
    margin-top: 5px;
    margin-left: 350px;
}
.sub-group-property {
    margin: 3px 5px;
}
.sub-group-property-header {
    text-transform: capitalize;
    padding: 5px;
    border-radius: 5px;
    background-color: gray;
    width: 500px;
    font-weight: bold;
}
.sub-group-property-expand-button {
    position: absolute;
    left: 470px;
    width: 30px;
    text-align: center;
    margin-top: -3px;
}
.level3-parameter-property {
    margin: 7px 0px 7px 5px;
}
.level3-parameter-property-expand-button {
    position: absolute;
    left: 470px;
    width: 30px;
    text-align: center;
    margin-top: -3px;
}
.level3-parameter-property-header-text {
    width: 100px;
    display: inline-block;
}
.level3-parameter-property-select {
    width: 250px;
}
.parameter-property-label {
    width: 100px;
    display: inline-block;
    text-align: right;
}
.sh-numeric-input {
    width: 100px;
}

.sh-checkbox-input {
    transform: scale(1.5);
}

.checkbox-property-label {
    font-weight: normal;
}

#saveButton {
    padding: 2px 8px 2px 8px;
    margin: 4px;
    font-size: 15px;
    font-weight: bold;
}
.glyphicon {
    font-size: 10px
}
.glyphicon-remove {
    color: darkred;
}
.glyphicon-plus {
    color: green;
}