table {
  margin-bottom: 0;
}
.warning-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: red;
}
.encompassing-group-property-header {
    border-bottom: 3px solid rgb(52, 97, 160);
    margin-bottom: 5px;
    padding-left: 5px;
    color: black;
    text-transform: capitalize;
}

.app {
    background-color: #808080;
}
.color-picker-div {
    text-align: center;
    height: 20px;
}
.sub-group-property {
    margin: 3px 5px;
    background-color: #ababab;
}
.level3-parameter-property,
.level2-parameter-property,
.origin-parameter-property,
.mesh-parameter-property,
.burst-parameter-property {
    background-color: #ababab;
    border: 1px solid #9c9c9c;
    padding: 0px;
}
.level3-parameter-property-header-text,
.origin-parameter-property-header-text,
.mesh-parameter-property-header-text,
.burst-parameter-property-header-text,
.sub-group-property-header,
.inline-property-label {
    width: 110px;
    height: 4px;
    display: inline-block;
    text-align: left;
    margin-left: 15px;
    text-transform: capitalize;
}
.level3-parameter-property-select,
.origin-parameter-property-select,
.mesh-parameter-property-select {
    width: 250px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    padding-left: 5px;
}

.level3-parameter-property-expand-button,
.sub-group-property-expand-button {
    position: absolute;
    left: 570px;
    width: 30px;
    height: 20px;
    text-align: center;
    padding: 0px;
    border: 0px;
    margin: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 0px;
}
.parameter-property-label {
    width: 125px;
    height: 20px;
    display: inline-block;
    text-align: right;
    font-style: italic;
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-transform: capitalize;
}
.parameter-property-label-color {
    display: inline-block;
    text-align: center;
}
.inline-property-label,
.checkbox-property-label {
    width: 125px;
    height: 20px;
    padding: 0px;
    border: 0px;
    margin: 0px;
    display: inline-block;
    text-align: left;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    width: 75px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.sh-numeric-input {
    width: 75px !important;
}
.sh-textlong-input {
    padding-left: 5px !important;
    width: 470px !important;
    text-align: left !important;
}
.sh-checkbox-input {
    left: 135px;
    transform: scale(1.5);
    height: 20px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}

.tools {
    margin-bottom: 5px;
}

#saveButton {
    margin: 4px;
    font-size: 15px;
    font-weight: bold;
}
.glyphicon {
    font-size: 10px
}
.glyphicon-remove {
    color: darkred;
}
.glyphicon-plus {
    color: green;
}

.curve-editor {
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-left: 3px;
    user-select: none;
}

.curve-table td {
   text-align: right;
}

.curve-table input {
   width: 90px;
}

.curve-table button {
    width: 36px;
    height: 20px;
    line-height: 0px;
    font-size: 20px;
}

.curve-input {
    width: 75px;
    text-align: center;
}

.curve-button {
    color: #000;
    width: 37.5px;
    height: 20px;
    line-height: 0px;
}

.curve-warning {
    width: 125px;
}

.day-time-choices {
    width: 140px;
}

.sky-curve-input {
   width: 55px !important;
}

.celestial-row {
   border-bottom: 50px grey solid;
}

button {
    margin-bottom: 0px;
    text-align: center;
    width: 75px;
    padding: 0px;
    background-color: #fff;
}

.button-primary-curve {
    margin-bottom: 1.5rem;
    text-align: center;
    width: 75px;
    padding: 0px;
    color: #FFF;
    background-color: #3461a0;
}

.button-primary {
    margin-bottom: 1.5rem;
    text-align: center;
    width: 75px;
    padding: 0px;
    color: #FFF;
    background-color: #3461a0;
}

td {
    border: 0px;
    padding: 1px;
    margin: 1px;
}

body {
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
}

@media (min-width: 550px) {
    h3 {
        font-size: 1.6rem;
        font-weight: bolder;
    }
    h2 {
        font-size: 1.2rem;
        font-weight: bolder;
    }
}