.inline-property-label {
    display: inline-block;
    width: 100px;
}
.warning-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: red;
}
.encompassing-group-property-header {
    border-bottom: 1px solid rgb(51, 195, 240);
    margin-bottom: 5px;
    padding-left: 5px;
    color: black;
    text-transform: capitalize;
}
.app {
    background-color: #fff;
}
.color-picker-div {
    position: absolute;
    left: 470px;
    width: 62px;
    text-align: center;
    margin-top: -3px;
}
.sub-group-property {
    margin: 3px 5px;
}
.sub-group-property-header {
    text-transform: capitalize;
    padding: 5px;
    border-radius: 5px;
    width: 500px;
    min-height: 38px;
    font-weight: bold;
}
.sub-group-property-expand-button {
    position: absolute;
    left: 470px;
    width: 30px;
    text-align: center;
    margin-top: -3px;
}
.level3-parameter-property {
    margin: 7px 0px 7px 5px;
    min-height: 38px;
}
.level3-parameter-property-expand-button {
    position: absolute;
    left: 470px;
    width: 30px;
    text-align: center;
    margin-top: -3px;
}
.level3-parameter-property-header-text {
    width: 110px;
    display: inline-block;
}
.level3-parameter-property-select {
    width: 250px;
}
.parameter-property-label {
    width: 110px;
    display: inline-block;
    text-align: right;
    font-style: italic;
}
.sh-numeric-input {
    width: 100px;
}

.sh-checkbox-input {
    transform: scale(1.5);
}

.checkbox-property-label {
    font-weight: normal;
}

#saveButton {
    margin: 4px;
    font-size: 15px;
    font-weight: bold;
}
.glyphicon {
    font-size: 10px
}
.glyphicon-remove {
    color: darkred;
}
.glyphicon-plus {
    color: green;
}

button {
    margin-bottom: 1.5rem;
    background-color: #fff;
}

.curve-table {
}

.curve-input {
    width: 176px;
}

.curve-button {
}

.curve-warning {
   max-width: 220px;
}

td {
    border: 0px;
    padding: 2px;
    margin: 2px;
}

body {
    font-family: 'Raleway', sans-serif;
}