table {
  margin-bottom: 0;
}

.inline-property-label {
    display: inline-block;
    width: 100px;
}
.warning-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: red;
}
.encompassing-group-property-header {
    border-bottom: 3px solid rgb(52, 97, 160);
    margin-bottom: 5px;
    padding-left: 5px;
    color: black;
    text-transform: capitalize;
}

.app {
    background-color: #808080;
}
.color-picker-div {
    text-align: center;
}
.sub-group-property {
    margin: 3px 5px;
    background-color: #ababab;
}
.sub-group-property-header {
    text-transform: capitalize;
    padding: 5px;
    border-radius: 5px;
    width: 500px;
    min-height: 38px;
    font-weight: bold;
}
.sub-group-property-expand-button {
    position: absolute;
    left: 470px;
    width: 30px;
    text-align: center;
    margin-top: 0px;
}

.origin-parameter-property {
    background-color: #ababab;
    border: 5px solid #9c9c9c;
    padding: 5px;
}
.origin-parameter-property-header-text {
    width: 110px;
    display: inline-block;
    text-align: left;
    margin-left: 15px;
}
.origin-parameter-property-select {
    width: 250px;
}

.mesh-parameter-property {
    background-color: #ababab;
    border: 5px solid #9c9c9c;
    padding: 5px;
}
.mesh-parameter-property-header-text {
    width: 110px;
    display: inline-block;
    text-align: left;
    margin-left: 15px;
}
.mesh-parameter-property-select {
    width: 250px;
}

.burst-parameter-property {
    background-color: #ababab;
    border: 5px solid #9c9c9c;
    padding: 5px;
}
.burst-parameter-property-header-text {
    width: 110px;
    display: inline-block;
    text-align: left;
    margin-left: 15px;
}

.level2-parameter-property {
    background-color: #ababab;
    border: 5px solid #9c9c9c;
    padding: 5px;
}

.level3-parameter-property {
    margin: 7px 0px 7px 5px;
    min-height: 38px;
    background-color: #ababab;
    border: 5px solid #9c9c9c;
    padding: 5px;
}
.level3-parameter-property-expand-button {
    position: absolute;
    left: 470px;
    width: 30px;
    text-align: center;
    margin-top: 0px;
}
.level3-parameter-property-header-text {
    width: 110px;
    display: inline-block;
    text-align: left;
    margin-left: 15px;
}
.level3-parameter-property-select {
    width: 250px;
}
.parameter-property-label {
    width: 125px;
    display: inline-block;
    text-align: right;
    font-style: italic;
}
.parameter-property-label-color {
    display: inline-block;
    text-align: center;
}
.inline-property-label {
    width: 125px;
    display: inline-block;
    text-align: center;
}
.sh-numeric-input {
    width: 75px;
}
.sh-textlong-input {
    width: 400px;
}
.sh-checkbox-input {
    transform: scale(1.5);
}

.checkbox-property-label {
    font-weight: normal;
}

.tools {
    margin-bottom: 5px;
}

#saveButton {
    margin: 4px;
    font-size: 15px;
    font-weight: bold;
}
.glyphicon {
    font-size: 10px
}
.glyphicon-remove {
    color: darkred;
}
.glyphicon-plus {
    color: green;
}

.curve-editor {
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-left: 3px;
    user-select: none;
}

.curve-table td {
   text-align: right;
}

.curve-table input {
   width: 90px;
}

.curve-table button {
   width: 36px;
   height: 36px;
   line-height: 25px;
   font-size: 25px;
}

.curve-input {
    width: 75px;
    text-align: center;
}

.curve-button {
    color: #000;
    width: 37.5px;
}

.curve-warning {
    width: 125px;
}

button {
    margin-bottom: 1.5rem;
    text-align: center;
    width: 75px;
    padding: 0px;
    background-color: #fff;
}

.button-primary-curve {
    margin-bottom: 1.5rem;
    text-align: center;
    width: 75px;
    padding: 0px;
    color: #FFF;
    background-color: #3461a0;
}

.button-primary {
    margin-bottom: 1.5rem;
    text-align: center;
    width: 75px;
    padding: 0px;
    color: #FFF;
    background-color: #3461a0;
}

td {
    border: 0px;
    padding: 1px;
    margin: 1px;
    text-align: center;
}

body {
    font-family: 'Arial', sans-serif;
}